# CheatSheet

1. Reading and Writing Data

Reading a CSV file

In [ ]:
df=pd.read_csv("file name.csv")

Writing content of data frame to CSV file

In [ ]:
df.to_csv('filename.csv')

Reading an Excel file

In [ ]:
df=pd.read_excel('filename.xlsx','sheet1')

Writing content of data frame to Excel file

In [ ]:
df.to_exxcel('filename.xlsx',sheet_name='sheet2')

2. Getting Preview of Dataframe

Looking at top n records

In [ ]:
df.head(5)

Looking at bottom n records

In [ ]:
df.tail(5)

View columns name

In [ ]:
df.columns

3. Rename Columns of Data Frame

Rename method helps to rename column of data frame.

In [ ]:
df2.df.rename(columns={'old_columnname':'new_columnname'})

To rename the column of existing data frame, set inplace=True .

In [ ]:
df.raname(columns={'old_columnname':'new_columnname'},inplace=True)

4. Selecting Columns or Rows

Accessing sub data frames

In [ ]:
df[['column1','column2']]

Filtering Records

In [ ]:
df[df['column1']>10]
df[(df['column']>10) & df['column2']==30]
df[(df['column1']>10)|df['column2']==30]

5. Handling Missing Values

This is an inevitale part of dealing with data. To overcome this hurdle, use dropna or fillna function.

dropna : It is used to drop rows or columns having missing data

In [ ]:
df1.dropna()

fillna : It is used to fill missing values

In [ ]:
df2.fillna(value=5)  #It replaces all missing values with 5

In [ ]:
mean=df2['column1'].mean()

In [ ]:
df2['column1'].fillna(mean) #It replaces all missing values of column1 with mean of available values

6. Creating New Columns

New column is a function of existing columns

In [ ]:
df['NewColumn1']=df['column2']                   # Create a copy of existing column2

In [ ]:
df['NewColumn2']=df['column2']+10                # Add 10 to existing column2 then create a new one

In [ ]:
df['NewColumn3']=df['column1']+df['column2']     # Add elements of column1 and column2 then create new column

7. Aggregate

Groupby : Groupby helps to perform three operations
    i. Splitting the data into groups.
    ii.Applying a function to each group individually
    iii. Combining the result into a data structure

In [ ]:
df.groupby('column1').sum()
df.groupby(['column1','column2']).count()

Pivot Table : It helps to generate data structure. It has three components index,columns and values (similar to excel)

In [ ]:
pd.pivot_table(df.values='column1',index=['column2','column3'],columns=['column4'])

By default, it shows the sum of values column but you can change it using argument aggfunc

In [ ]:
pd.pivot_table(df.values='column1',index=['column2','column3'],columns=['column4'],aggfunc=len)  #it shows count

Cross Tab : Cross Tab computer the simple cross tabulation of two factors .

In [ ]:
pd.crosstab(df.column1,df.column2)

8.Merging / Concatenating DataFrames

It performs similar operation like we do in SQL.

Concatenating : It concatennate two or more data frames based on their columns.

In [ ]:
pd.concat([df1,df2])

Merging : We can perform left, right and inner join also.

In [ ]:
pd.merge(df1,df2,on='column1',how='inner')
pd.merge(df1,df2,on='column1',how='left')
pd.merge(df1,df2,on='column1',how='right')
pd.merge(df1,df2,on='column1',how='outer')

9 . Applying function to element, column or dataframe

Map : It iterates over each element of a series

In [ ]:
df['column1'].map(lambda x:10+x)   #this will add 10 to each element of column1

In [ ]:
df['column2'].map(lambda x:'AV'+ x)   # this will concatenate "AV" at the beginning of each element of column2 (column format is string)

Apply : As the name suggest, applies a function along any axis of the DataFrame

In [ ]:
df[['column1','column2']].apply(sum)  # it will returns the sum of all the values of column1 and column2.

ApplyMap : This helps to apply a function to each element of dataframe

In [ ]:
func=lambda x: x+2
df.applymap(func)   #it will add 2 to each element of dataframe (all columns of dataframe must be numeric type)

10 Identify unique values

Function unique helps to return unique values of a column

In [ ]:
df['Cloumn1'].unique()

11. Basic Stats

Pandas helps to understand the data using basic statistical methods.

describe : This returns the quick stats ( count, mean, std, min, first quartile, median, third quartile, max) on suitable columns

In [ ]:
df.describe()

covariance : It returns the co-variance between suitable columns.

In [ ]:
df.cov()

correlation : It returns the co-relation between suitable columns.

In [ ]:
df.corr()